/*$heavy_metal:#2F2E2E;*/
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 600px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1150px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1300px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1500px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 620px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 760px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1050px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1280px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 1452px; } }

.footer {
  width: 100%;
  background-color: black;
  padding: 10px 0;
  position: absolute; }
  @media (min-width: 1199px) {
    .footer {
      padding: 20px 0px; } }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px; }
    @media (min-width: 1199px) {
      .footer .container {
        grid-template-columns: repeat(3, 1fr); } }
  .footer__logo {
    margin: auto;
    width: 100%; }
    @media (min-width: 350px) {
      .footer__logo {
        width: 250px; } }
    @media (min-width: 1199px) {
      .footer__logo {
        width: 371px; } }
  .footer__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .footer__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        grid-column: 2 / 4; } }
    .footer__text h1 {
      color: white;
      line-height: 15px;
      font-size: 12px;
      font-weight: bold;
      text-align: center; }
      @media (min-width: 1199px) {
        .footer__text h1 {
          font-size: 15px;
          text-align: start; } }
    .footer__text p {
      padding-top: 15px;
      color: white;
      line-height: 20px;
      font-size: 12px;
      font-weight: bold;
      text-align: center; }
      @media (min-width: 1199px) {
        .footer__text p {
          font-size: 15px;
          text-align: start; } }

.layout_whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 100;
  gap: 10px; }
  @media (min-width: 1199px) {
    .layout_whatsapp {
      bottom: 80px; } }
  .layout_whatsapp__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 82px !important;
    height: auto;
    padding: 15px;
    background-color: #15B633;
    border-radius: 100%; }
    .layout_whatsapp__button__img {
      width: 30px; }
      .layout_whatsapp__button__img img {
        width: 100%; }

.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
  background-image: url("../img/Banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0; }
  @media (min-width: 1199px) {
    .hero {
      height: 900px; } }
  .hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .hero .container {
        display: flex;
        align-items: flex-start;
        justify-content: center; } }
  .hero__logo {
    width: 100%; }
    @media (min-width: 1199px) {
      .hero__logo {
        width: 371px; } }
  .hero__text {
    padding-top: 40px;
    width: 100%; }
    @media (min-width: 1199px) {
      .hero__text {
        width: 50%;
        padding-top: 90px; } }
    .hero__text h1 {
      color: white;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      font-family: Segoe UI bold;
      line-height: 40px; }
      @media (min-width: 768px) {
        .hero__text h1 {
          font-size: 55px;
          line-height: 60px; } }
      @media (min-width: 1199px) {
        .hero__text h1 {
          text-align: start; } }
      @media (min-width: 1700px) {
        .hero__text h1 {
          line-height: 75px;
          font-size: 70px;
          text-align: start; } }
    .hero__text p {
      padding-top: 25px;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: Segoe UI Regular; }
      @media (min-width: 768px) {
        .hero__text p {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .hero__text p {
          text-align: start; } }
      @media (min-width: 1700px) {
        .hero__text p {
          font-size: 30px; } }
    .hero__text__button {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 1199px) {
        .hero__text__button {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start; } }
      .hero__text__button button {
        margin-top: 30px;
        background-color: #E6B743;
        font-family: Segoe UI bold;
        padding: 15px;
        color: black;
        font-size: 15px;
        border-radius: 10px; }
        @media (min-width: 768px) {
          .hero__text__button button {
            font-size: 25px; } }
        @media (min-width: 1199px) {
          .hero__text__button button {
            padding: 23px 35px; } }
        @media (min-width: 1700px) {
          .hero__text__button button {
            font-size: 30px; } }
      .hero__text__button button:hover {
        background-color: #035096;
        color: #FFFFFF; }
    .hero__text button {
      margin-top: 30px;
      background-color: #E6B743;
      font-family: Segoe UI bold;
      padding: 15px;
      color: black;
      font-size: 15px;
      border-radius: 10px; }
      @media (min-width: 768px) {
        .hero__text button {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .hero__text button {
          padding: 23px 35px; } }
      @media (min-width: 1700px) {
        .hero__text button {
          font-size: 30px; } }

.center {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px 0; }
  @media (min-width: 1199px) {
    .center {
      padding: 60px 0; } }
  .center .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .center--prev {
    position: absolute;
    left: 15px;
    top: 60%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .center--prev svg {
      width: 30px;
      fill: black; }
  .center--next {
    position: absolute;
    right: 15px;
    top: 60%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .center--next svg {
      width: 30px;
      fill: black; }
  .center__title h1 {
    font-family: Segoe UI bold;
    text-align: center;
    font-size: 25px;
    color: #035096; }
    @media (min-width: 1199px) {
      .center__title h1 {
        font-size: 30px; } }
  .center__grid {
    padding-top: 60px;
    gap: 20px;
    display: none; }
    @media (min-width: 992px) {
      .center__grid {
        display: flex; } }
    @media (min-width: 1199px) {
      .center__grid {
        gap: 50px; } }
    .center__grid__imagen_logo {
      padding-bottom: 30px; }
      @media (min-width: 1199px) {
        .center__grid__imagen_logo {
          padding-bottom: 50px; } }
    .center__grid__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
  .center__carrousel {
    padding-top: 10px;
    display: flex; }
    @media (min-width: 992px) {
      .center__carrousel {
        display: none; } }
    .center__carrousel__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 10px; }
      .center__carrousel__item img {
        width: 90%; }

.swiper_services {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .swiper_services .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.reparation {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0; }
  .reparation__grid {
    margin: 15px 0;
    padding: 30px 0;
    background-color: #00489A; }
    @media (min-width: 1199px) {
      .reparation__grid {
        margin: 30px 0; } }
    .reparation__grid .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; }
      @media (min-width: 576px) {
        .reparation__grid .container {
          grid-template-columns: repeat(4, 1fr);
          gap: 30px; } }
    .reparation__grid__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
      .reparation__grid__item__img {
        width: 50%; }
        @media (min-width: 1199px) {
          .reparation__grid__item__img {
            width: 120px; } }
      .reparation__grid__item p {
        padding-top: 15px;
        color: white;
        font-family: Segoe UI bold;
        font-size: 15px;
        text-align: center; }
        @media (min-width: 1199px) {
          .reparation__grid__item p {
            font-size: 18px;
            padding-top: 30px; } }
    .reparation__grid__button {
      display: flex;
      align-items: center;
      justify-content: center; }
      .reparation__grid__button button {
        background-color: #E6B743;
        font-family: Segoe UI bold;
        padding: 15px;
        color: black;
        font-size: 15px;
        border-radius: 10px; }
        @media (min-width: 768px) {
          .reparation__grid__button button {
            font-size: 25px; } }
        @media (min-width: 1199px) {
          .reparation__grid__button button {
            padding: 23px 35px; } }
        @media (min-width: 1700px) {
          .reparation__grid__button button {
            font-size: 30px; } }
      .reparation__grid__button button:hover {
        background-color: #035096;
        color: #FFFFFF; }
  .reparation__title h1 {
    font-family: Segoe UI bold;
    text-align: center;
    font-size: 25px;
    color: #035096; }
    @media (min-width: 1199px) {
      .reparation__title h1 {
        font-size: 30px; } }

.services {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px 0; }
  @media (min-width: 1199px) {
    .services {
      padding: 60px 0; } }
  .services .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
    @media (min-width: 1199px) {
      .services .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px; } }
  .services__imagen {
    margin: auto;
    width: 100%; }
    @media (min-width: 578px) {
      .services__imagen {
        width: 70%; } }
    @media (min-width: 1199px) {
      .services__imagen {
        width: 100%; } }
  .services__text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .services__text__title h1 {
      font-family: Segoe UI bold;
      font-size: 25px;
      color: #035096; }
      @media (min-width: 1199px) {
        .services__text__title h1 {
          font-size: 30px; } }
    .services__text__title p {
      padding-top: 15px;
      font-family: Segoe UI Regular;
      font-size: 15px;
      text-align: center; }
      @media (min-width: 1199px) {
        .services__text__title p {
          font-size: 18px;
          padding-top: 20px; } }
    .services__text__item {
      padding-top: 30px;
      display: flex;
      gap: 20px; }
      .services__text__item__logo {
        width: 50px; }
        .services__text__item__logo img {
          width: 50px;
          height: 50px; }
      .services__text__item__text h1 {
        color: #000000;
        font-family: Segoe UI bold;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 10px; }
        @media (min-width: 1199px) {
          .services__text__item__text h1 {
            font-size: 18px;
            padding-bottom: 15px; } }
      .services__text__item__text p {
        color: #000000;
        font-family: Segoe UI Regular;
        font-size: 15px; }
        @media (min-width: 1199px) {
          .services__text__item__text p {
            font-size: 18px; } }

.contact {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 0 30px 0; }
  @media (min-width: 1199px) {
    .contact {
      padding: 0 0 60px 0; } }
  .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/banner-llama.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 15px;
    width: 95%;
    border-radius: 25px; }
    @media (min-width: 350px) {
      .contact .container {
        padding: 60px 15px; } }
    @media (min-width: 1199px) {
      .contact .container {
        width: 100%;
        padding: 90px 0; } }
  .contact__title h1 {
    font-family: Segoe UI bold;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF; }
    @media (min-width: 1199px) {
      .contact__title h1 {
        font-size: 30px; } }
  .contact__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .contact__button {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; } }
    .contact__button button {
      margin-top: 30px;
      background-color: #E6B743;
      font-family: Segoe UI bold;
      padding: 15px;
      color: black;
      font-size: 15px;
      border-radius: 10px; }
      @media (min-width: 768px) {
        .contact__button button {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .contact__button button {
          padding: 23px 35px; } }
      @media (min-width: 1700px) {
        .contact__button button {
          font-size: 30px; } }
    .contact__button button:hover {
      background-color: #035096;
      color: #FFFFFF; }

.servicesTecnic {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  background-image: url("../img/banner-sub.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0; }
  @media (min-width: 1199px) {
    .servicesTecnic {
      padding: 90px 0; } }
  .servicesTecnic .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px; }
    @media (min-width: 1199px) {
      .servicesTecnic .container {
        padding: 70px 0; } }
  .servicesTecnic__title h1 {
    font-family: Segoe UI bold;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF; }
    @media (min-width: 1199px) {
      .servicesTecnic__title h1 {
        font-size: 30px; } }
  .servicesTecnic__title p {
    width: 100%;
    margin: auto;
    padding-top: 15px;
    font-family: Segoe UI Regular;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF; }
    @media (min-width: 1199px) {
      .servicesTecnic__title p {
        width: 60%;
        font-size: 18px;
        padding-top: 20px; } }
  .servicesTecnic__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .servicesTecnic__button {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; } }
    .servicesTecnic__button button {
      background-color: #E6B743;
      font-family: Segoe UI bold;
      padding: 15px;
      color: black;
      font-size: 15px;
      border-radius: 10px; }
      @media (min-width: 768px) {
        .servicesTecnic__button button {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .servicesTecnic__button button {
          padding: 23px 35px; } }
      @media (min-width: 1700px) {
        .servicesTecnic__button button {
          font-size: 30px; } }
    .servicesTecnic__button button:hover {
      background-color: #035096;
      color: #FFFFFF; }

.reviews {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 0 20px 0; }
  @media (min-width: 1199px) {
    .reviews {
      padding: 60px 0; } }
  .reviews .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .reviews--prev {
    position: absolute;
    left: 15px;
    top: 60%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .reviews--prev svg {
      width: 30px;
      fill: black; }
  .reviews--next {
    position: absolute;
    right: 15px;
    top: 60%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .reviews--next svg {
      width: 30px;
      fill: black; }
  .reviews__title h1 {
    font-family: Segoe UI bold;
    text-align: center;
    font-size: 25px;
    color: #035096; }
    @media (min-width: 1199px) {
      .reviews__title h1 {
        font-size: 30px; } }
  .reviews__grid {
    padding-top: 60px;
    gap: 10px;
    display: none; }
    @media (min-width: 992px) {
      .reviews__grid {
        display: flex; } }
    @media (min-width: 1199px) {
      .reviews__grid {
        gap: 50px; } }
    .reviews__grid__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      box-shadow: 1px 3px 14px 0px #b7b3b3;
      border-radius: 25px;
      padding: 30px; }
      .reviews__grid__item__imagen {
        width: 200px; }
      .reviews__grid__item__start {
        width: 280px;
        margin: 20px auto; }
        @media (min-width: 1199px) {
          .reviews__grid__item__start {
            width: 240px; } }
      .reviews__grid__item__box {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background-color: #E6B743;
        padding: 25px;
        border-bottom-left-radius: 25px 25px;
        border-bottom-right-radius: 25px 25px; }
        .reviews__grid__item__box p {
          margin: auto;
          font-family: Segoe UI Regular;
          font-size: 15px;
          text-align: center;
          color: #000000; }
          @media (min-width: 1199px) {
            .reviews__grid__item__box p {
              font-size: 18px; } }
        .reviews__grid__item__box span {
          font-weight: bold; }
  .reviews__carrousel {
    padding-top: 20px;
    display: flex;
    width: 100%; }
    @media (min-width: 992px) {
      .reviews__carrousel {
        display: none; } }
    .reviews__carrousel__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      box-shadow: 1px 3px 14px 0px #b7b3b3;
      border-radius: 25px;
      padding: 20px; }
      .reviews__carrousel__item__imagen {
        width: 200px; }
      .reviews__carrousel__item__start {
        width: 180px;
        margin: 20px auto; }
        @media (min-width: 768px) {
          .reviews__carrousel__item__start {
            width: 200px; } }
        @media (min-width: 1199px) {
          .reviews__carrousel__item__start {
            width: 240px; } }
        .reviews__carrousel__item__start img {
          width: 100%; }
      .reviews__carrousel__item__box {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        background-color: #E6B743;
        border-bottom-left-radius: 25px 25px;
        border-bottom-right-radius: 25px 25px; }
        @media (min-width: 1199px) {
          .reviews__carrousel__item__box {
            height: 150px; } }
        .reviews__carrousel__item__box p {
          margin: auto;
          font-family: Segoe UI Regular;
          font-size: 15px;
          text-align: center;
          color: #000000; }
          @media (min-width: 1199px) {
            .reviews__carrousel__item__box p {
              font-size: 18px; } }
        .reviews__carrousel__item__box span {
          font-weight: bold; }

.swiper_reviews {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .swiper_reviews .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    padding: 10px; }

.form {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/fondo-contacto.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 15px 0; }
  @media (min-width: 1199px) {
    .form {
      padding: 0; } }
  .form--image {
    width: 50%;
    position: absolute;
    bottom: 30px;
    right: 0;
    background: linear-gradient(to right, rgba(0, 71, 153, 0.7), rgba(230, 183, 67, 0.7));
    padding: 30px 0;
    display: none; }
    @media (min-width: 1199px) {
      .form--image {
        display: block; } }
    .form--image h1 {
      font-family: Segoe UI bold;
      text-align: center;
      font-size: 25px;
      color: #FFFFFF; }
      @media (min-width: 1199px) {
        .form--image h1 {
          font-size: 30px; } }
    .form--image p {
      margin: auto;
      font-family: Segoe UI Regular;
      font-size: 15px;
      text-align: center;
      color: #FFFFFF;
      padding: 7px; }
      @media (min-width: 1199px) {
        .form--image p {
          font-size: 18px; } }
    .form--image span {
      font-weight: bold; }
  .form .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .form .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
  .form__form {
    background-color: #FFFFFF;
    padding: 20px; }
    @media (min-width: 576px) {
      .form__form {
        padding: 25px; } }
    @media (min-width: 768px) {
      .form__form {
        padding: 60px; } }
    .form__form h1 {
      font-family: Segoe UI Regular;
      font-size: 25px;
      color: #035096;
      padding-bottom: 15px; }
      @media (min-width: 1199px) {
        .form__form h1 {
          font-size: 30px; } }
    .form__form p {
      margin: auto;
      font-family: Segoe UI Regular;
      font-size: 15px;
      color: #000000;
      padding-bottom: 10px; }
      @media (min-width: 1199px) {
        .form__form p {
          font-size: 18px; } }
    .form__form span {
      font-weight: bold; }
    .form__form__inputs {
      padding-top: 30px; }
      .form__form__inputs__input {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 15px 0; }
        .form__form__inputs__input input {
          width: 100%;
          border: none;
          padding: 15px;
          margin-bottom: 5px;
          background-color: #EAEFF2; }
        .form__form__inputs__input textarea {
          padding: 15px;
          border: none;
          width: 100%;
          height: 200px;
          background-color: #EAEFF2; }
        .form__form__inputs__input input::placeholder {
          font-family: Segoe UI Regular;
          font-size: 15px;
          color: #000000;
          padding-bottom: 10px;
          font-weight: bold; }
          @media (min-width: 1199px) {
            .form__form__inputs__input input::placeholder {
              font-size: 18px; } }
        .form__form__inputs__input textarea::placeholder {
          font-family: Segoe UI Regular;
          font-size: 15px;
          color: #000000;
          padding-bottom: 10px;
          font-weight: bold; }
          @media (min-width: 1199px) {
            .form__form__inputs__input textarea::placeholder {
              font-size: 18px; } }
      .form__form__inputs__button {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .form__form__inputs__button button {
          width: 100%;
          background-color: #035096;
          font-family: Segoe UI bold;
          padding: 15px;
          color: #FFFFFF;
          font-size: 15px;
          border-radius: 10px; }
          @media (min-width: 1199px) {
            .form__form__inputs__button button {
              font-size: 18px; } }
        .form__form__inputs__button button:hover {
          background-color: #E6B743;
          color: #000000; }

.button {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px 0; }
  @media (min-width: 1199px) {
    .button {
      padding: 60px 0 90px 0; } }
  .button .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .button__form {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .button__form {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; } }
    .button__form a {
      text-align: center;
      background-color: #E6B743;
      font-family: Segoe UI bold;
      padding: 15px;
      color: black;
      font-size: 15px;
      border-radius: 10px; }
      @media (min-width: 768px) {
        .button__form a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .button__form a {
          padding: 23px 35px; } }
      @media (min-width: 1700px) {
        .button__form a {
          font-size: 30px; } }
    .button__form a:hover {
      background-color: #035096;
      color: #FFFFFF; }

.thanks {
  width: 100%;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .thanks h2 {
    color: #035096;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: Segoe UI bold;
    line-height: 40px; }
    @media (min-width: 768px) {
      .thanks h2 {
        font-size: 55px;
        line-height: 60px; } }
    @media (min-width: 1199px) {
      .thanks h2 {
        text-align: start; } }
    @media (min-width: 1700px) {
      .thanks h2 {
        line-height: 75px;
        font-size: 70px;
        text-align: start; } }
  .thanks p {
    padding-top: 15px;
    font-family: Segoe UI Regular;
    font-size: 15px;
    text-align: center; }
    @media (min-width: 1199px) {
      .thanks p {
        font-size: 18px;
        padding-top: 20px; } }
  .thanks a {
    border: 2px solid #E6B743;
    margin-top: 30px;
    background-color: #E6B743;
    font-family: GE Sans Bold;
    font-weight: bold;
    padding: 15px 30px;
    color: #000000;
    font-size: 15px;
    border-radius: 10px;
    text-align: center; }
    @media (min-width: 300px) {
      .thanks a {
        font-size: 20px; } }
    @media (min-width: 768px) {
      .thanks a {
        font-size: 25px; } }
    @media (min-width: 1700px) {
      .thanks a {
        font-size: 30px; } }
  .thanks a:hover {
    background-color: #035096;
    color: #FFFFFF;
    border: 2px solid #035096; }

@font-face {
  font-family: Segoe UI bold;
  src: url("../font/Segoe UI Bold.woff") format("truetype"); }

@font-face {
  font-family: Segoe UI Regular;
  src: url("../font/Segoe UI.woff") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }

body {
  font-size: 45px; }
