@charset "UTF-8";
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 600px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1150px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1300px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1500px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 620px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 760px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1050px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1280px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 100%; } }

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  display: flex; }
  @media (min-width: 1199px) {
    .header {
      padding: 0 30px;
      height: auto;
      background: transparent; } }
  .header--show {
    padding: 15px;
    top: 0;
    background: linear-gradient(90deg, #00489A); }
  .header--hide {
    background: transparent; }
  @media (min-width: 1199px) {
    .header {
      height: auto; } }
  .header__mobile {
    width: 100%;
    height: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .header__mobile__logo {
      width: 150px; }
    .header__mobile__toggle {
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #00489A;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 13px 10px; }
      .header__mobile__toggle__bar {
        width: 100%;
        height: 2px;
        background-color: white;
        position: relative;
        transition: 0.3s; }
        .header__mobile__toggle__bar::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
        .header__mobile__toggle__bar::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: auto;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; } }
    .header__desktop .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px; }
    .header__desktop__logo {
      width: 300px; }
      .header__desktop__logo img {
        width: 100%; }
    .header__desktop__contact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px; }
      .header__desktop__contact__item {
        border: 1px solid #00489A;
        background-color: white;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 70px; }
        .header__desktop__contact__item__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px; }
          @media (min-width: 1700px) {
            .header__desktop__contact__item__icon {
              width: 30px; } }
          .header__desktop__contact__item__icon img {
            width: 100%; }
        .header__desktop__contact__item a.phone {
          font-family: Poppins-Regular;
          font-size: 18px;
          color: #00489A;
          font-weight: 400;
          padding: 10px 0px;
          transition: 0.3s; }

.menu {
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200%;
  background: #00489A;
  z-index: 100;
  padding: 30px 5px;
  transition: 0.3s; }
  .menu--active {
    left: 0%; }
  .menu__links {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .menu__links__contact {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .menu__links__contact__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        gap: 10px; }
        @media (min-width: 1199px) {
          .menu__links__contact__item {
            flex-direction: row; } }
        .menu__links__contact__item__icon {
          width: 20px; }
          .menu__links__contact__item__icon img {
            filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%);
            -webkit-filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%);
            -moz-filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%); }
        .menu__links__contact__item a.phone {
          font-size: 15px;
          color: white;
          font-weight: 400;
          transition: 0.3s; }

.footer {
  width: 100%;
  background-color: #00489A;
  padding: 30px 0;
  position: absolute; }
  @media (min-width: 1199px) {
    .footer {
      padding: 60px 0px 60px 0; } }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__logo {
    margin: auto;
    width: 80px; }
    @media (min-width: 1199px) {
      .footer__logo {
        width: 100px; } }
  .footer__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .footer__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        grid-column: 2 / 4; } }
    .footer__text h1 {
      color: white;
      line-height: 25px;
      font-size: 15px;
      text-align: center;
      font-weight: 100; }
      @media (min-width: 1199px) {
        .footer__text h1 {
          font-size: 18px;
          text-align: start; } }

.layout_whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 100;
  gap: 10px; }
  @media (min-width: 1199px) {
    .layout_whatsapp {
      bottom: 80px; } }
  .layout_whatsapp__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 82px !important;
    height: auto;
    padding: 15px;
    background-color: #15B633;
    border-radius: 100%; }
    .layout_whatsapp__button__img {
      width: 30px; }
      .layout_whatsapp__button__img img {
        width: 100%; }

.hero_carrousel {
  background-image: url("../../img/engrane-grande.webp");
  background-position: 95% 50%;
  background-repeat: no-repeat; }
  .hero_carrousel__hero {
    width: 100%;
    position: relative;
    height: auto;
    /*margin-top: 80px;*/
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .hero_carrousel__hero {
        height: auto;
        padding: 124px  0 0 0; } }
    .hero_carrousel__hero .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 1199px) {
        .hero_carrousel__hero .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px; } }
    .hero_carrousel__hero__text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 1199px) {
        .hero_carrousel__hero__text {
          display: flex;
          align-items: flex-start;
          justify-content: center; } }
      .hero_carrousel__hero__text__imagen {
        width: 150px; }
      .hero_carrousel__hero__text h1 {
        color: black;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        font-family: Poppins-Bold;
        line-height: 32px; }
        @media (min-width: 768px) {
          .hero_carrousel__hero__text h1 {
            font-size: 45px;
            line-height: 50px; } }
        @media (min-width: 1199px) {
          .hero_carrousel__hero__text h1 {
            text-align: start;
            font-size: 60px; } }
        @media (min-width: 1700px) {
          .hero_carrousel__hero__text h1 {
            line-height: 72px;
            font-size: 66px; } }
      .hero_carrousel__hero__text p {
        padding-top: 25px;
        color: black;
        font-size: 20px;
        text-align: center;
        line-height: 25px; }
        @media (min-width: 768px) {
          .hero_carrousel__hero__text p {
            font-size: 25px;
            line-height: 32px; } }
        @media (min-width: 1199px) {
          .hero_carrousel__hero__text p {
            text-align: start; } }
      .hero_carrousel__hero__text__button {
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 1199px) {
          .hero_carrousel__hero__text__button {
            display: flex;
            align-items: center;
            justify-content: flex-start; } }
        .hero_carrousel__hero__text__button a {
          border: 2px solid #DEC83C;
          margin-top: 30px;
          background-color: #DEC83C;
          font-family: Poppins-Bold;
          padding: 15px 30px;
          color: black;
          font-size: 15px;
          border-radius: 10px;
          text-align: center; }
          @media (min-width: 300px) {
            .hero_carrousel__hero__text__button a {
              font-size: 20px; } }
          @media (min-width: 768px) {
            .hero_carrousel__hero__text__button a {
              font-size: 25px; } }
        .hero_carrousel__hero__text__button a:hover {
          background-color: white;
          color: #00489A;
          border: 2px solid #00489A; }
    .hero_carrousel__hero__imagen {
      width: 100%; }
      .hero_carrousel__hero__imagen img {
        width: 100%; }
  .hero_carrousel__carrousel {
    padding-top: 15px;
    width: 100%;
    position: relative;
    height: auto;
    /*margin-top: 80px;*/
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .hero_carrousel__carrousel {
        height: auto;
        padding: 60px 0 0 0; } }
    .hero_carrousel__carrousel .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px; }
      @media (min-width: 1199px) {
        .hero_carrousel__carrousel .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px; } }
    .hero_carrousel__carrousel__imagen {
      width: 100%; }
    .hero_carrousel__carrousel__carrousel h1.title {
      color: #00489A;
      font-size: 20px;
      text-align: center;
      font-family: Poppins-Bold; }
      @media (min-width: 768px) {
        .hero_carrousel__carrousel__carrousel h1.title {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .hero_carrousel__carrousel__carrousel h1.title {
          font-size: 30px;
          padding-bottom: 30px; } }
      @media (min-width: 1700px) {
        .hero_carrousel__carrousel__carrousel h1.title {
          font-size: 35px; } }

.services {
  width: 100%;
  position: relative;
  height: auto;
  padding: 60px 0 30px 0;
  background-image: url("../../img/banner-rep.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1199px) {
    .services {
      padding: 60px 0 60px 0; } }
  .services--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .services--prev svg {
      width: 30px;
      fill: black; }
  .services--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .services--next svg {
      width: 30px;
      fill: black; }
  .services h1.title {
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .services h1.title {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .services h1.title {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .services h1.title {
        font-size: 35px; } }
  .services .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .services__grid {
    width: 100%;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 30px; }
    @media (min-width: 768px) {
      .services__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; } }
    @media (min-width: 1199px) {
      .services__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: center; } }
    .services__grid__item {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      padding: 15px;
      border: 1px solid #00489A;
      border-radius: 15px; }
      @media (min-width: 1199px) {
        .services__grid__item {
          padding: 30px;
          width: 100%; } }
      .services__grid__item__imagen {
        height: 91px;
        margin: auto; }
        @media (min-width: 768px) {
          .services__grid__item__imagen {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin: 0; } }
      .services__grid__item__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px; }
        @media (min-width: 1199px) {
          .services__grid__item__text {
            display: flex;
            align-items: flex-start;
            justify-content: center; } }
        .services__grid__item__text h1 {
          color: #00489A;
          font-size: 18px;
          padding: 3px;
          text-align: center; }
          @media (min-width: 1199px) {
            .services__grid__item__text h1 {
              font-size: 22px; } }
  .services__carrousel {
    width: 80%;
    padding: 15px 0 0 0; }
    @media (min-width: 1199px) {
      .services__carrousel {
        display: none; } }
  .services__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .services__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .services__button a {
      border: 2px solid #DEC83C;
      margin-top: 15px;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      font-weight: bold;
      padding: 15px 30px;
      color: black;
      border-radius: 10px;
      text-align: center; }
      @media (min-width: 300px) {
        .services__button a {
          font-size: 20px; } }
      @media (min-width: 768px) {
        .services__button a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .services__button a {
          margin-top: 30px; } }
    .services__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.swiper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.banner_contact {
  width: 100%;
  position: relative;
  height: auto;
  padding: 60px 0 30px 0;
  background-image: url("../../img/banner-2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0; }
  @media (min-width: 1199px) {
    .banner_contact {
      padding: 60px 0 60px 0;
      margin: 60px 0; } }
  .banner_contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
    @media (min-width: 1199px) {
      .banner_contact .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; } }
  .banner_contact__text h1 {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .banner_contact__text h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .banner_contact__text h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .banner_contact__text h1 {
        font-size: 35px; } }
  .banner_contact__text__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .banner_contact__text__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .banner_contact__text__button a {
      border: 2px solid #DEC83C;
      margin-top: 15px;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      font-weight: bold;
      padding: 15px 30px;
      color: black;
      border-radius: 10px;
      text-align: center; }
      @media (min-width: 300px) {
        .banner_contact__text__button a {
          font-size: 20px; } }
      @media (min-width: 768px) {
        .banner_contact__text__button a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .banner_contact__text__button a {
          margin-top: 30px; } }
    .banner_contact__text__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.banner_services {
  width: 100%;
  position: relative;
  height: auto;
  padding: 60px 0 30px 0;
  background-image: url("../../img/banner-3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0; }
  @media (min-width: 1199px) {
    .banner_services {
      padding: 60px 0 60px 0;
      margin: 60px 0; } }
  .banner_services .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .banner_services h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .banner_services h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .banner_services h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .banner_services h1 {
        font-size: 35px; } }
  .banner_services p {
    width: 100%;
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    text-align: center;
    padding-top: 15px; }
    @media (min-width: 1199px) {
      .banner_services p {
        font-size: 18px; } }
  .banner_services__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .banner_services__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .banner_services__button a {
      border: 2px solid #DEC83C;
      margin-top: 15px;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      font-weight: bold;
      padding: 15px 30px;
      color: black;
      border-radius: 10px;
      text-align: center; }
      @media (min-width: 300px) {
        .banner_services__button a {
          font-size: 20px; } }
      @media (min-width: 768px) {
        .banner_services__button a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .banner_services__button a {
          margin-top: 30px; } }
    .banner_services__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.review {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  background-image: url("../../img/martillo.webp");
  background-position: -20% 0%;
  background-repeat: no-repeat; }
  @media (min-width: 1199px) {
    .review {
      padding: 0px 0 60px 0; } }
  .review .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .review--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .review--prev svg {
      width: 30px;
      fill: black; }
  .review--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .review--next svg {
      width: 30px;
      fill: black; }
  .review__title h1 {
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .review__title h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .review__title h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .review__title h1 {
        font-size: 35px; } }
  .review__grid {
    width: 100%;
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    display: none; }
    @media (min-width: 992px) {
      .review__grid {
        display: grid;
        padding: 30px 0 0 0; } }
    @media (min-width: 1199px) {
      .review__grid {
        gap: 60px; } }
    .review__grid__item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 10px; }
      @media (min-width: 1199px) {
        .review__grid__item {
          display: flex;
          align-items: center;
          justify-content: flex-end; } }
      .review__grid__item__imagen {
        height: 200px;
        width: auto;
        position: relative;
        top: 20px; }
      .review__grid__item__text {
        border-radius: 10px;
        width: 100%;
        height: 200px;
        background-color: white;
        margin-top: auto;
        padding: 30px 15px 15px 15px;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5), white 10px 10px 0px -3px, #00489a 10px 10px; }
        .review__grid__item__text h1 {
          width: 100%;
          color: black;
          font-family: Poppins-Bold;
          font-size: 18px;
          text-align: center; }
          @media (min-width: 1199px) {
            .review__grid__item__text h1 {
              font-size: 22px; } }
        .review__grid__item__text p {
          width: 100%;
          color: black;
          font-family: Poppins-Regular;
          font-size: 15px;
          text-align: center;
          padding-top: 15px; }
          @media (min-width: 1199px) {
            .review__grid__item__text p {
              font-size: 18px; } }
        .review__grid__item__text span {
          font-family: Poppins-Bold; }
  .review__carrousel {
    width: 80%;
    padding: 30px 0 0 0; }
    @media (min-width: 992px) {
      .review__carrousel {
        display: none; } }

.swiper_services {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper_services .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.form {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background-image: url("../../img/fondo-contact.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1199px) {
    .form {
      padding: 60px 0; } }
  .form .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 15px; }
    @media (min-width: 1199px) {
      .form .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; } }
  .form__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
    @media (min-width: 1199px) {
      .form__text {
        display: flex;
        align-items: flex-start;
        justify-content: center; } }
    .form__text h1 {
      color: white;
      font-size: 20px;
      font-family: Poppins-Bold;
      text-align: center; }
      @media (min-width: 768px) {
        .form__text h1 {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .form__text h1 {
          font-size: 30px;
          text-align: start; } }
      @media (min-width: 1700px) {
        .form__text h1 {
          font-size: 35px; } }
    .form__text p {
      color: white;
      font-size: 15px;
      text-align: center; }
      @media (min-width: 1199px) {
        .form__text p {
          text-align: start;
          font-size: 18px; } }
    .form__text span {
      font-family: Poppins-Bold; }
  .form__question {
    width: 100%;
    margin: auto;
    border-radius: 10px; }
    @media (min-width: 678px) {
      .form__question {
        padding: 0; } }
    .form__question h1 {
      color: white;
      font-size: 20px;
      font-family: Poppins-Bold;
      text-align: center; }
      @media (min-width: 768px) {
        .form__question h1 {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .form__question h1 {
          font-size: 30px;
          text-align: start; } }
      @media (min-width: 1700px) {
        .form__question h1 {
          font-size: 35px; } }
    .form__question__inputs {
      padding-top: 15px; }
      @media (min-width: 1199px) {
        .form__question__inputs {
          padding-top: 30px; } }
      .form__question__inputs__input {
        padding: 7.5px 0; }
        .form__question__inputs__input input {
          width: 100%;
          padding: 15px;
          background-color: #EAEFF2;
          border: none;
          border-radius: 10px; }
        .form__question__inputs__input textarea {
          height: 200px;
          padding: 15px;
          background-color: #EAEFF2;
          border: none;
          border-radius: 10px; }
        .form__question__inputs__input__button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .form__question__inputs__input__button button {
            width: 100%;
            border: 2px solid #DEC83C;
            margin-top: 10px;
            background-color: #DEC83C;
            font-family: Poppins-Bold;
            padding: 15px;
            color: black;
            font-size: 15px;
            text-align: center;
            border-radius: 10px; }
            @media (min-width: 1199px) {
              .form__question__inputs__input__button button {
                font-size: 18px; } }
          .form__question__inputs__input__button button:hover {
            background-color: white;
            color: #00489A;
            border: 2px solid #00489A; }

.contact {
  width: 100%;
  position: relative;
  height: auto;
  padding: 60px 0 30px 0;
  background-image: url("../../img/des.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0; }
  @media (min-width: 1199px) {
    .contact {
      padding: 60px 0 60px 0;
      margin: 60px 0; } }
  .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .contact__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .contact__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .contact__button a {
      border: 2px solid #DEC83C;
      margin-top: 15px;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      font-weight: bold;
      padding: 15px 30px;
      color: black;
      border-radius: 10px;
      text-align: center; }
      @media (min-width: 300px) {
        .contact__button a {
          font-size: 20px; } }
      @media (min-width: 768px) {
        .contact__button a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .contact__button a {
          margin-top: 30px; } }
    .contact__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.solution {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: #00489A; }
  .solution__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px; }
    @media (min-width: 1199px) {
      .solution__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    .solution__content__imagen {
      width: 100%;
      height: auto;
      max-height: 500px; }
      @media (min-width: 600px) {
        .solution__content__imagen {
          width: 500px;
          height: 800px; } }
      @media (min-width: 1199px) {
        .solution__content__imagen {
          max-height: 750px;
          width: 92%;
          height: auto;
          position: relative;
          top: 70px; } }
      @media (min-width: 1700px) {
        .solution__content__imagen {
          max-height: 1200px;
          width: 80%;
          height: auto; } }
    .solution__content__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 15px; }
      .solution__content__text h1.title {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: Lato-Bold;
        padding-bottom: 15px; }
        @media (min-width: 768px) {
          .solution__content__text h1.title {
            font-size: 25px; } }
        @media (min-width: 1199px) {
          .solution__content__text h1.title {
            font-size: 30px;
            padding-bottom: 30px; } }
        @media (min-width: 1700px) {
          .solution__content__text h1.title {
            font-size: 35px; } }
      .solution__content__text__information {
        display: flex;
        justify-content: space-around;
        gap: 15px; }
        .solution__content__text__information__imagen_line {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column; }
          .solution__content__text__information__imagen_line__imagen {
            width: 87px;
            height: 87px; }
          .solution__content__text__information__imagen_line hr {
            height: 100px;
            width: 10px;
            color: #5D70D6;
            background-color: #5D70D6;
            border-color: #5D70D6; }
            @media (min-width: 350px) {
              .solution__content__text__information__imagen_line hr {
                height: 70px; } }
        .solution__content__text__information__text {
          max-width: 800px; }
          .solution__content__text__information__text p {
            color: white;
            font-size: 15px;
            padding: 3px; }
            @media (min-width: 1199px) {
              .solution__content__text__information__text p {
                font-size: 18px; } }
          .solution__content__text__information__text span {
            font-weight: bold; }
        .solution__content__text__information__button {
          display: flex;
          align-items: center;
          justify-content: center; }
          @media (min-width: 1199px) {
            .solution__content__text__information__button {
              display: flex;
              align-items: center;
              justify-content: flex-end; } }
          .solution__content__text__information__button a {
            border: 2px solid white;
            margin-top: 15px;
            background-color: white;
            font-family: OpenSans-Bold;
            font-weight: bold;
            padding: 15px 30px;
            color: #00489A;
            border-radius: 28px;
            text-align: center; }
            @media (min-width: 300px) {
              .solution__content__text__information__button a {
                font-size: 20px; } }
            @media (min-width: 768px) {
              .solution__content__text__information__button a {
                font-size: 25px; } }
            @media (min-width: 1199px) {
              .solution__content__text__information__button a {
                margin-top: 30px; } }
          .solution__content__text__information__button a:hover {
            background-color: #00489A;
            color: white;
            border: 2px solid white; }

.offer {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  background-image: url("../../img/engrane-pequeño.webp");
  background-position: 0% 0%;
  background-repeat: no-repeat; }
  @media (min-width: 1199px) {
    .offer {
      padding: 60px 0 0 0; } }
  .offer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .offer--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .offer--prev svg {
      width: 30px;
      fill: black; }
  .offer--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .offer--next svg {
      width: 30px;
      fill: black; }
  .offer__title h1 {
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .offer__title h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .offer__title h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .offer__title h1 {
        font-size: 35px; } }
  .offer__grid {
    width: 100%;
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    display: none; }
    @media (min-width: 992px) {
      .offer__grid {
        display: grid;
        padding: 30px 0 0 0; } }
    @media (min-width: 1199px) {
      .offer__grid {
        gap: 60px; } }
    .offer__grid__item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 10px; }
      @media (min-width: 1199px) {
        .offer__grid__item {
          display: flex;
          align-items: center;
          justify-content: flex-end; } }
      .offer__grid__item__imagen {
        height: 200px;
        width: auto;
        position: relative;
        top: 20px; }
      .offer__grid__item__text {
        border-radius: 10px;
        width: 100%;
        height: auto;
        background-color: #00489A;
        margin-top: auto;
        padding: 30px 15px 15px 15px; }
        .offer__grid__item__text h1 {
          width: 100%;
          color: white;
          font-family: Poppins-Bold;
          font-size: 18px;
          text-align: center; }
          @media (min-width: 1199px) {
            .offer__grid__item__text h1 {
              font-size: 22px; } }
        .offer__grid__item__text p {
          width: 100%;
          color: white;
          font-family: Poppins-Regular;
          font-size: 15px;
          text-align: center;
          padding-top: 15px; }
          @media (min-width: 1199px) {
            .offer__grid__item__text p {
              font-size: 18px; } }
  .offer__carrousel {
    width: 80%;
    padding: 30px 0 0 0; }
    @media (min-width: 992px) {
      .offer__carrousel {
        display: none; } }

.swiper_services {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper_services .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.the_best {
  width: 90%;
  margin: auto;
  position: relative;
  height: auto;
  padding: 0 0 30px 0; }
  @media (min-width: 1199px) {
    .the_best {
      width: 100%;
      padding: 60px 0 60px 0; } }
  .the_best h1.title {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Lato-Bold; }
    @media (min-width: 768px) {
      .the_best h1.title {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .the_best h1.title {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .the_best h1.title {
        font-size: 35px; } }
  .the_best .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #5D70D6;
    border-radius: 36px;
    padding: 30px; }
  .the_best__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding-top: 30px; }
    @media (min-width: 768px) {
      .the_best__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; } }
    @media (min-width: 1199px) {
      .the_best__grid {
        grid-template-columns: repeat(3, 1fr); } }
    .the_best__grid__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 15px; }
      .the_best__grid__item__imagen {
        height: 91px; }
      .the_best__grid__item__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px; }
        .the_best__grid__item__text h1 {
          color: white;
          font-size: 20px;
          text-align: center;
          font-family: Lato-Regular; }
          @media (min-width: 1199px) {
            .the_best__grid__item__text h1 {
              font-size: 25px; } }
        .the_best__grid__item__text p {
          color: white;
          font-size: 15px;
          text-align: center; }
          @media (min-width: 1199px) {
            .the_best__grid__item__text p {
              font-size: 18px; } }
  .the_best__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .the_best__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .the_best__button a {
      border: 2px solid #00489A;
      margin-top: 15px;
      background-color: #00489A;
      font-family: OpenSans-Bold;
      font-weight: bold;
      padding: 15px 30px;
      color: white;
      border-radius: 28px;
      text-align: center; }
      @media (min-width: 300px) {
        .the_best__button a {
          font-size: 20px; } }
      @media (min-width: 768px) {
        .the_best__button a {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .the_best__button a {
          margin-top: 30px; } }
    .the_best__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.domestic {
  width: 100%;
  position: relative;
  height: auto;
  background-image: url("../img/background_one.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*margin-top: 80px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0; }
  @media (min-width: 1199px) {
    .domestic {
      background-image: url("../img/background_three.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: auto;
      padding: 0 0 60px 0; } }
  .domestic .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 15px; }
    @media (min-width: 1199px) {
      .domestic .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
  .domestic__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .domestic__text {
        display: flex;
        align-items: flex-start;
        justify-content: center; } }
    .domestic__text h1 {
      color: black;
      font-size: 20px;
      font-family: Lato-Bold;
      text-align: center; }
      @media (min-width: 768px) {
        .domestic__text h1 {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .domestic__text h1 {
          font-size: 30px; } }
      @media (min-width: 1700px) {
        .domestic__text h1 {
          font-size: 35px; } }
    .domestic__text p {
      padding-top: 15px;
      color: black;
      font-size: 15px;
      text-align: center; }
      @media (min-width: 1199px) {
        .domestic__text p {
          text-align: start;
          font-size: 18px; } }
    .domestic__text__button {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 1199px) {
        .domestic__text__button {
          display: flex;
          align-items: center;
          justify-content: flex-end; } }
      .domestic__text__button a {
        border: 2px solid #00489A;
        margin-top: 15px;
        background-color: #00489A;
        font-family: OpenSans-Bold;
        font-weight: bold;
        padding: 15px 30px;
        color: white;
        border-radius: 28px;
        text-align: center; }
        @media (min-width: 300px) {
          .domestic__text__button a {
            font-size: 20px; } }
        @media (min-width: 768px) {
          .domestic__text__button a {
            font-size: 25px; } }
        @media (min-width: 1199px) {
          .domestic__text__button a {
            margin-top: 30px; } }
      .domestic__text__button a:hover {
        background-color: white;
        color: #00489A;
        border: 2px solid #00489A; }
  .domestic__imagen {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }

.thanks {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .thanks h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: GE Sans bold; }
    @media (min-width: 768px) {
      .thanks h2 {
        font-size: 25px; } }
    @media (min-width: 1700px) {
      .thanks h2 {
        font-size: 30px; } }
  .thanks p {
    padding-top: 15px;
    color: black;
    font-family: GE Sans;
    font-size: 15px;
    text-align: center; }
    @media (min-width: 1199px) {
      .thanks p {
        font-size: 18px;
        padding-top: 20px; } }
  .thanks a {
    border: 2px solid #00489A;
    margin-top: 15px;
    background-color: #00489A;
    font-family: OpenSans-Bold;
    font-weight: bold;
    padding: 15px 30px;
    color: white;
    border-radius: 28px;
    text-align: center; }
    @media (min-width: 300px) {
      .thanks a {
        font-size: 20px; } }
    @media (min-width: 768px) {
      .thanks a {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .thanks a {
        margin-top: 30px; } }
  .thanks a:hover {
    background-color: white;
    color: #00489A;
    border: 2px solid #00489A; }

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }

* {
  font-family: Poppins-Regular;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
