.the_best{
    width: 90%;
    margin: auto;
	position: relative;
	height: auto;
    padding: 0 0 30px 0;

    @media(min-width:1199px){
        width: 100%;
        padding: 60px 0 60px 0;
    }

    h1.title{
        color: $white;
        font-size: 20px;
        text-align: center;
        font-family: Lato-Bold;
            
        @media(min-width:768px){
            font-size: 25px;
        }
    
        @media(min-width:1199px){
            font-size: 30px;
        }
            
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    .container{
        @include flex-center-center;
        flex-direction: column;  
        background: $medium_electric_blue;
        border-radius: 36px; 
        padding: 30px;  
    }


    &__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding-top: 30px;
        
        @media(min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            
        }

        @media(min-width: 1199px){
            grid-template-columns: repeat(3, 1fr);
        }

        &__item{
            @include flex-center-start;
            flex-direction: column;
            gap: 15px;

            &__imagen{
                height: 91px;
            }
        
            &__text{
                @include flex-center-center;
                flex-direction:column;
                gap: 15px;
    
                h1{
                    color: $white;
                    font-size: 20px;
                    text-align: center;
                    font-family: Lato-Regular;
            
                    @media(min-width:1199px){
                        font-size: 25px;
                    }
    
                }
    
                p{
                    color: $white;
                    font-size: 15px;
                    text-align: center;
            
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $elephant;
            margin-top: 15px;
            background-color:$elephant;
            font-family: OpenSans-Bold;
            font-weight: bold;
            padding: 15px 30px ;
            color:white;
            border-radius: 28px;
            text-align: center;

            @media(min-width:300px){
                font-size: 20px;         
            }

            @media(min-width:768px){
                font-size: 25px;
                
            }

            @media(min-width:1199px){
                margin-top: 30px;
            }
 
        }

        a:hover{
            background-color:$white ;
            color: $elephant;
            border: 2px solid $elephant;
        }
    }
    
}