.button{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding: 30px 0 60px 0;

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &__form{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-start-start;
        }

       a{
            text-align: center;
            background-color:$Tulip_tree ;
            font-family: Segoe UI bold;
            padding: 15px ;
            color:black;
            font-size: 15px;
            border-radius: 10px;

            @media(min-width:768px){
                font-size: 25px;
                
            }

            @media(min-width:1199px){
                padding: 23px 35px;
            }
            
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

        a:hover{
            background-color:$Medium_electric_blue ;
            color: $white;
        }
    }

}