.center{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding:  30px 0;

    @media(min-width:1199px){
        padding: 60px 0;

    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &--prev{
		position: absolute;
        left: 15px;
		top: 60%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 60%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

    &__title{
        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 20px;
            color: $Medium_electric_blue;

            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

    }

    &__grid{
        padding-top: 60px;
        gap:20px;
        display: none;

        @media(min-width:992px){
            display: flex;
        }

        @media(min-width: 1199px){
            gap: 50px;
        }

        &__imagen_logo{
            padding-bottom: 30px;

            @media(min-width: 1199px){
                padding-bottom: 50px;
            }
        }

        &__item{
            @include flex-center-center;
            flex-direction: column;
            width: 100%;
        }
    }

    &__carrousel{
        padding-top: 10px;
        display: flex;

        @media(min-width:992px){
            display: none;
        }

        &__item{
            @include flex-center-center;
            flex-direction: column;
            width: 100%;
            padding: 10px;

            img{
                width: 90%;
            }
        }
    }
}

.swiper_services{
	width: 100%;
	height: 100%;
    overflow: hidden;

		.swiper-slide{
			width: 100% !important;
			height: 100%;
            @include flex-center-center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;

		}

}