.contact{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;
    margin: 30px 0;
    background-image: url('../../img/des.webp');
    background-position: center; 
    background-repeat: no-repeat;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
        margin: 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }


    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $gold_drop;
            background-color:$gold_drop;
            font-family: Poppins-Bold;
            font-weight: bold;
            padding: 15px ;
            color:$black;
            border-radius: 10px;
            text-align: center;
            font-size: 15px; 

            @media(min-width:678px){
                padding: 15px 30px ;
                font-size: 18px;     
            }
                
            @media(min-width:1199px){
                font-size: 22px;     
            }

        }

        a:hover{
            background-color:$white ;
            color: $elephant;
            border: 2px solid $elephant;
        }
    }

}
