.contact{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding: 30px 0;

    @media(min-width:1199px){
        padding: 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
        background-image:url('../../img/banner-llama.webp');	
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        padding: 40px 15px;
        width: 95%;
        border-radius: 25px;


        @media(min-width: 350px){
            padding: 60px 15px;
        }

        @media(min-width: 1199px){
            width: 100%;
            padding: 90px 0;
        }

    }

    &__title{
        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 25px;
            color: $white;

            @media(min-width: 1199px){
                font-size: 30px;
            }
        }

    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-start-start;
        }

        button{
            margin-top: 30px;
            background-color:$Tulip_tree ;
            font-family: Segoe UI bold;
            padding: 15px ;
            color:black;
            font-size: 15px;
            border-radius: 10px;

            @media(min-width:768px){
                font-size: 25px;
                
            }

            @media(min-width:1199px){
                padding: 23px 35px;
            }
            
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

        button:hover{
            background-color:$Medium_electric_blue ;
            color: $white;
        }
    }

   
}
