.form{
    width: 100%;
	height: auto;
    padding: 30px 0;
    background-image: url('../../img/fondo-contact.webp');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width:1199px){
        padding: 60px 0 ; 
    }

    .container{
        @include flex-center-center;
        flex-direction: column-reverse;
        gap: 15px;

        @media(min-width:1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
		}
    }

    &__text{
        width: 100%;
        @include flex-center-center;
        flex-direction: column;
        gap: 15px;

        @media(min-width:1199px){
            @include flex-start-center;
		}
        
        h1{
            color: $white;
            font-size: 20px;
            font-family: Poppins-Bold;
            text-align: center;
            
            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1199px){
                font-size: 30px;
                text-align: start;
            }
            
            @media(min-width:1700px){
                font-size: 35px;
            }
        }

        p{
            color: $white;
            font-size: 15px;
            text-align: center;

            @media(min-width: 1199px){
                text-align: start;
                font-size: 18px;  
            }
        }
        span{
            font-family:Poppins-Bold;
        }
   
    }

    &__question{
        width: 100%;
        margin: auto;
        border-radius: 10px;

        @media(min-width:678px){
            padding: 0;
        }

        h1{
            color: $white;
            font-size: 20px;
            font-family: Poppins-Bold;
            text-align: center;
            
            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1199px){
                font-size: 30px;
                text-align: start;
            }
            
            @media(min-width:1700px){
                font-size: 35px;
            }
        }

        &__inputs{
            padding-top: 15px;

            @media(min-width:1199px){
                padding-top: 30px;
            }
            
            &__input{
                padding:7.5px 0;
    
                input{
                    width: 100%;
                    padding: 15px;
                    background-color: $harp;
                    border: none;
                    border-radius: 10px;
                }
                
                textarea{
                    height: 200px;
                    padding: 15px;
                    background-color: $harp;
                    border: none;
                    border-radius: 10px;
                }

                &__button{
                    width: 100%;
                    @include flex-center-center;

                    button{
                        width: 100%;
                        border: 2px solid $gold_drop;
                        margin-top: 10px;
                        background-color:$gold_drop ;
                        font-family: Poppins-Bold;
                        padding: 15px ;
                        color: $black;
                        font-size: 15px;
                        text-align: center;
                        border-radius: 10px;

                        @media(min-width: 1199px){
                            font-size: 18px;
                        }
                    }
            
                    button:hover{
                        background-color:$white ;
                        color: $elephant;
                        border: 2px solid $elephant;
                    }
                }
            }

        }

    }
}