.form{
    width: 100%;
	overflow: hidden;
    background-image:url('../img/fondo-contacto.webp');	
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
	position: relative;
    padding: 15px 0;
    margin: 30px  0 ;

    @media(min-width:1199px){
        padding: 0;
        margin: 60px 0 0px 0 ;
    }

    &--image{
        width: 50%;
        position:absolute;
        bottom: 30px;
        right: 0;
        background: linear-gradient(to right, $Medium_electric_blue_two, $Tulip_tree_two);
        padding: 30px 0;
        display: none;

        @media(min-width:1199px){
            display:block;
        }

        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 25px;
            color: $white;

            @media(min-width: 1199px){
                font-size: 30px;
            }
        }

        p{
            margin: auto;
            font-family: Segoe UI Regular;
            font-size: 15px;
            text-align: center;
            color:$white;
            padding: 7px;

            @media(min-width: 1199px){
                font-size: 18px;
            }
        }

        span{
            font-weight: bold;
        }

    }

    .container{
       @include flex-center-center;

       @media(min-width:1199px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }
    }

    &__form{
        background-color: $white;
        padding: 20px;
        
        @media(min-width: 576px) {
            padding: 25px;
        }

        @media(min-width:768px){
            padding: 60px;
        }

        h1{
            font-family: Segoe UI Regular;
            font-size: 25px;
            color: $Medium_electric_blue;
            padding-bottom: 15px;

            @media(min-width: 1199px){
                font-size: 30px;
            }
        }

        p{
            margin: auto;
            font-family: Segoe UI Regular;
            font-size: 15px;
            color:$black;
            padding-bottom: 10px;

            @media(min-width: 1199px){
                font-size: 18px;
            }
        }

        span{
            font-weight: bold;
        }

        &__inputs{
            padding-top: 30px;
            &__input{
                @include flex-start-start;
                flex-direction: column;
    
                label{
                    font-family: Segoe UI Regular;
                    font-size: 15px;
                    color:$black;
                    padding-bottom: 10px;
                    font-weight: bold;
    
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }
    
                input{
                    width: 100%;
                    border: none;
                    background: transparent;
                    padding: 20px;
                    margin-bottom: 5px;
    
                }
            }

            &__button{
                padding-top: 30px;
                @include flex-center-center;
    
                button{
                    width: 100%;
                    background-color:$Medium_electric_blue ;
                    font-family: Segoe UI bold;
                    padding: 15px ;
                    color:$white;
                    font-size: 15px;
                    border-radius: 10px;
                   
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                    
                }

                button:hover{
                    background-color:$Tulip_tree ;
                    color: $black;
                }
            }
        }

       

    }

}