.hero{
    width: 100%;
	overflow: hidden;
	position: relative;
	height: auto;
    background-image:url('../../img/Banner.webp');	
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 60px 0;

    @media(min-width:1199px){
        height: 900px;
    }


    .container{
        @include flex-center-center;
        flex-direction: column;

        @media(min-width:1199px){
            @include flex-start-center;
		}
    }

    &__logo{
		width: 100%;
		@media(min-width:1199px){
			width: 371px;
		}
    }

    &__text{
        padding-top: 40px;
        width: 100%;

        @media(min-width:1199px){
			width: 50%;
            padding-top: 90px;
		}

        h1{
            color: white;
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            font-family: Segoe UI bold;
            line-height: 40px;

            @media(min-width:768px){ //*phone
                font-size: 55px;
                line-height:60px;
            }

            @media(min-width:1199px){ //*table
                text-align: start;
            }

            @media(min-width:1700px){//*Desktop
                line-height: 75px;
                font-size: 70px;
                text-align: start;
            }
        }

        p{
            padding-top: 25px;
            color: white;
            font-size: 20px;
            text-align: center;
            font-family: Segoe UI Regular;

            @media(min-width:768px){
                font-size: 25px;
            }

            @media(min-width:1199px){
                text-align: start;
            }

            @media(min-width:1700px){
                font-size: 30px;
            }
        }
        &__button{
            @include flex-center-center;

            @media(min-width:1199px){
                @include flex-start-start;
            }

            button{
                margin-top: 30px;
                background-color:$Tulip_tree ;
                font-family: Segoe UI bold;
                padding: 15px ;
                color:black;
                font-size: 15px;
                border-radius: 10px;
    
                @media(min-width:768px){
                    font-size: 25px;
                    
                }
    
                @media(min-width:1199px){
                    padding: 23px 35px;
                }
                
                @media(min-width:1700px){
                    font-size: 30px;
                }
            }

            button:hover{
                background-color:$Medium_electric_blue ;
                color: $white;
            }
        }

        button{
            margin-top: 30px;
            background-color:$Tulip_tree ;
            font-family: Segoe UI bold;
            padding: 15px ;
            color:black;
            font-size: 15px;
            border-radius: 10px;

            @media(min-width:768px){
                font-size: 25px;
                
            }

            @media(min-width:1199px){
                padding: 23px 35px;
            }
            
            @media(min-width:1700px){
                font-size: 30px;
            }
        }
    }


} 