.hero{
    width: 100%;
	position: relative;
	height: auto;
    /*margin-top: 80px;*/
   @include flex-center-center;

    @media(min-width:1199px){
        height: auto;
        padding:124px 0;
    }


    .container{
        @include flex-center-center;
        flex-direction: column-reverse;

        @media(min-width:1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
		}
    }

    &__text{
        width: 100%;
        @include flex-center-center;
        flex-direction: column;

        @media(min-width:1199px){ //*table
            @include flex-start-center;
        }
        
        h1{
            color: $black;
            font-size: 25px;
            font-weight:bold;
            text-align: center;
            font-family: Poppins-Bold;
            line-height: 32px;

            @media(min-width:768px){ //*phone
                font-size: 45px;
                line-height:50px;
            }

            @media(min-width:1199px){ //*table
                text-align: start;
                font-size: 60px;
            }

            @media(min-width:1700px){//*Desktop
                line-height: 72px;
                font-size: 66px;
            }
        }


        p{
            padding-top: 25px;
            color: $black;
            font-size: 20px;
            text-align: center;
            line-height: 25px;
            
            @media(min-width:768px){
                font-size: 25px;
                line-height: 32px;
            }
            @media(min-width:1199px){ //*table
                text-align: start;
            }
        }
        &__button{
            @include flex-center-center;

            @media(min-width:1199px){
                @include flex-center-start;
            }

            a{
                border: 2px solid $gold_drop;
                margin-top: 30px;
                background-color:$gold_drop ;
                font-family: Poppins-Bold;
                padding: 15px 30px ;
                color:$black;
                font-size: 15px;
                border-radius: 10px;
                text-align: center;

                @media(min-width:300px){
                    font-size: 20px;         
                }
    
                @media(min-width:768px){
                    font-size: 25px;
                    
                }
            }

            a:hover{
                background-color:$white ;
                color: $elephant;
                border: 2px solid $elephant;
            }
        }
    }

    &__imagen{
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        @include flex-center-start;

    }


} 