.reparation{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding:  0;

    &__grid{
        margin: 15px 0;
        padding: 30px 0;
        background-color: #00489A;

        @media(min-width:1199px){
            margin: 30px 0;
        }

        .container{       
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            @media(min-width: 576px){
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
            }
        }
        
        &__item{
            @include flex-center-center;
            flex-direction: column;
            width: 100%;

            &__img{
                width: 50%;

                @media(min-width: 1199px){
                    width: 120px;
                }
            }

            p{
                padding-top: 15px;
                color: white;
                font-family: Segoe UI bold;
                font-size: 15px;
                text-align: center;

                @media(min-width: 1199px){
                    font-size: 18px;
                    padding-top: 30px;
                }

            }
        }

        &__button{
            @include flex-center-center;

            a{
                background-color:$Tulip_tree ;
                font-family: Segoe UI bold;
                padding: 15px ;
                color:black;
                font-size: 15px;
                border-radius: 10px;
    
                @media(min-width:768px){
                    font-size: 25px;
                    
                }
    
                @media(min-width:1199px){
                    padding: 23px 35px;
                }
                
                @media(min-width:1700px){
                    font-size: 30px;
                }
            }

            a:hover{
                background-color:$Medium_electric_blue ;
                color: $white;
            }
        }
    }


    &__title{
        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 25px;
            color: $Medium_electric_blue;

            @media(min-width: 1199px){
                font-size: 30px;
            }
        }

    }

}
