.reviews{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding:  0 0 20px 0;

    @media(min-width:1199px){
        padding: 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &--prev{
		position: absolute;
        left: 15px;
		top: 60%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 60%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

    &__title{
        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 25px;
            color: $Medium_electric_blue;

            @media(min-width: 1199px){
                font-size: 30px;
            }
        }

    }

    &__grid{
        padding-top: 60px;
        gap:10px;
        display: none;

        @media(min-width:992px){
            display: flex;
        }

        @media(min-width: 1199px){
            gap: 50px;
        }


        &__item{
            @include flex-center-center;
            flex-direction: column;
            width: 100%;
            box-shadow: 1px 3px 14px 0px #b7b3b3;
            border-radius: 25px;
            padding: 40px;

            &__imagen{
                width: 200px;
            }

            &__start{
               width: 280px;
               margin: 20px auto;

               @media(min-width: 1199px){
                width: 240px;
               }

            }

            &__box{
                height: 150px;
                @include flex-center-center;
                flex-direction: column;
                gap: 10px;
                background-color: #E6B743;
                padding: 25px;
                border-bottom-left-radius: 25px 25px;
                border-bottom-right-radius: 25px 25px;

                p{
                    margin: auto;
                    font-family: Segoe UI Regular;
                    font-size: 15px;
                    text-align: center;
                    color:$black;
        
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }

                span{
                    font-weight: bold;
                }
        
            }
        }
    }

    &__carrousel{
        padding-top: 20px;
        display: flex;
        width:100%;

        @media(min-width:992px){
            display: none;
        }

        &__item{
            @include flex-center-center;
            flex-direction: column;
            width: 100%;

            &__imagen{
                width: 200px;
            }

            &__start{
               width: 180px;
               margin: 20px auto;

               @media(min-width: 768px){
                width: 200px;
               }

               @media(min-width: 1199px){
                width: 240px;
               }

               img{
                width: 100%;
               }

            }

            &__box{
                height: 140px;
                @include flex-center-center;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                background-color: #E6B743;
                border-bottom-left-radius: 25px 25px;
                border-bottom-right-radius: 25px 25px;

                @media(min-width: 1199px){
                    height: 150px;
                }

                p{
                    margin: auto;
                    font-family: Segoe UI Regular;
                    font-size: 15px;
                    text-align: center;
                    color:$black;
        
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }

                span{
                    font-weight: bold;
                }
        
            }
        }
    }
}

.swiper_reviews{
	width: 100%;
	height: 100%;
    overflow: hidden;

		.swiper-slide{
			width: 100% !important;
			height: 100%;
            @include flex-center-center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
            padding: 10px;

		}

}