.services{
    width: 100%;
	position: relative;
	height: auto;
    padding: 60px 0 30px 0;
    background-image: url('../../img/banner-rep.webp');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
    }

    h1.title{
        color: $elephant;
        font-size: 20px;
        text-align: center;
        font-family:Poppins-Bold;
   
        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1199px){
            font-size: 30px;
        }
                
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    .container{
        @include flex-center-center;
        flex-direction: column;     
    }


    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding-top: 30px;
        
        @media(min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            
        }

        @media(min-width: 1199px){
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            
        }

        &__item{
            @include flex-center-center;
            flex-direction: column;
            gap: 15px;
            padding: 30px ;
            border: 1px solid $elephant;
            border-radius: 15px;

    
            &__imagen{
                height: 91px;
                margin: auto;

                @media(min-width: 768px){
                    @include flex-start-center;
                    margin: 0;
                }
            }
        
            &__text{
                @include flex-center-center;
                flex-direction:column;
                gap: 15px;

                @media(min-width: 1199px){
                    @include flex-start-center;
                }
    
                h1{
                    color: $water_blue;
                    font-size: 20px;
                    text-align: center;
                    font-family: Lato-Regular;
            
                    @media(min-width:1199px){
                        font-size: 25px;
                    }
    
                }
            }
        }
    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $gold_drop;
            margin-top: 15px;
            background-color:$gold_drop;
            font-family: Poppins-Bold;
            font-weight: bold;
            padding: 15px 30px ;
            color:$black;
            border-radius: 10px;
            text-align: center;

            @media(min-width:300px){
                font-size: 20px;         
            }

            @media(min-width:768px){
                font-size: 25px;
                
            }

            @media(min-width:1199px){
                margin-top: 30px;
            }

        }

        a:hover{
            background-color:$white ;
            color: $elephant;
            border: 2px solid $elephant;
        }
    }
    



}