.services{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;
    margin: 30px 0 30px 0;
    background-image: url('../../img/banner-rep.webp');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
        margin: 60px 0 0 0;
    }


    &--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;

		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}


    h1.title{
        color: $elephant;
        font-size: 20px;
        text-align: center;
        font-family:Poppins-Bold;
   
        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1199px){
            font-size: 30px;
        }
                
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    .container{
        @include flex-center-center;
        flex-direction: column;     
    }


    &__grid{
        width: 100%;
        display: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-top: 30px;
        
        @media(min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            
        }

        @media(min-width: 1199px){
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;   
            @include flex-center-center;
        }

        &__item{
            width: 80%;
            @include flex-center-center;
            flex-direction: column;
            gap: 15px;
            padding: 15px ;
            border: 1px solid $elephant;
            border-radius: 15px;

            @media(min-width: 1199px){
                padding: 30px ; 
                width: 100%; 
            }

    
            &__imagen{
                height: 91px;
                margin: auto;
                @media(min-width: 768px){
                    @include flex-start-center;
                    margin: 0;
                }
            }
        
            &__text{
                @include flex-center-center;
                flex-direction:column;
                gap: 15px;

                @media(min-width: 1199px){
                    @include flex-start-center;
                }
    
                h1{
                    color: $elephant;
                    font-size: 18px;
                    padding: 3px;
                    text-align: center;
            
                    @media(min-width: 1199px){
                        font-size: 22px;
                    }
    
                }
            }
        }
    }

    &__carrousel{
        width: 100%;
        padding: 15px 0 0 0;

        @media(min-width: 1199px){
            display: none;
        }

    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $gold_drop;
            background-color:$gold_drop;
            font-family: Poppins-Bold;
            margin-top: 15px;
            font-weight: bold;
            padding: 15px 30px ;
            color:$black;
            border-radius: 10px;
            text-align: center;
            font-size: 15px; 

            @media(min-width:678px){
                font-size: 18px;     
            }
                
            @media(min-width:1199px){
                font-size: 22px;     
                margin-top: 30px; 
            }

        }

        a:hover{
            background-color:$white ;
            color: $elephant;
            border: 2px solid $elephant;
        }
    }
    
}

.swiper{
	width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;

		.swiper-slide{
            width: 100% !important;
            height: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; 

            @media(min-width: 578px){
                width: 50% !important;
            }

            @media(min-width: 1199px){
                width: 100% !important;
            }

		}

        

}