.servicesTecnic{
    width: 100%;
	overflow: hidden;
	position: relative;
    padding: 30px 0;
    background-image:url('../img/banner-sub.webp');	
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 20px 0;

    @media(min-width:1199px){
        padding: 90px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        
        @media(min-width:1199px){
            padding: 70px 0;
        }

    }

    &__title{
        h1{
            font-family: Segoe UI bold;
            text-align: center;
            font-size: 20px;
            color: $white;

            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

        p{
            width: 100%;
            margin: auto;
            padding-top: 15px;
            font-family: Segoe UI Regular;
            font-size: 15px;
            text-align: center;
            color: $white;

            @media(min-width: 1199px){
                width: 60%;
                font-size: 18px;
                padding-top: 20px;
            }
        }

    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-start-start;
        }

        button{
            margin-top: 30px;
            background-color:$Tulip_tree ;
            font-family: Segoe UI bold;
            padding: 15px 30px ;
            color:black;
            font-size: 15px;
            border-radius: 10px;

            @media(min-width:300px){
                font-size: 20px;         
            }

            @media(min-width:768px){
                font-size: 25px;             
            }

            @media(min-width:1199px){
                padding: 23px 35px;
            }
            
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

         button:hover{
            background-color:$Medium_electric_blue ;
            color: $white;
        }
    }

   
}
