$black: #000000;
$white: #FFFFFF;

/*$heavy_metal:#2F2E2E;*/

$Tulip_tree:#E6B743;
$Medium_electric_blue:#035096;
$Medium_electric_blue_two:rgba(0,71,153,0.7);
$Tulip_tree_two:rgba(230,183,67,0.7);



