$black: #000000;
$white: #FFFFFF;

/*$heavy_metal:#2F2E2E;*/

$la_salle_green:#1B8233;
$mikado_yellow:#F7C50A;
$saffron_mango:#ffc600;
$candlelight:#FFDA1F;
$naples_yellow:#FBDB5B;
$light_tan:#FBEBA3;

$storm_dust:#5E5E5E;
$carbon_grey:#605E5E;
$star_dust:#A0A09F ;
$grey_goose:#CFCFCF;

$vibrant_green:#0EE62F;

$cobalt:#1D3E99;
$mariner:#3A61CF;

$green_white:#ebebdb;

